<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32101">
		<setting id="API" label="32601" type="text" default=""/>
		<setting type="sep"/>
		<setting id="Location1" label="32111" type="text" enable="!eq(-2,)" default=""/>
		<setting id="Location1id" label="32117" type="text" subsetting="true" default=""/>
		<setting id="Location1lat" label="32102" type="text" subsetting="true" default=""/>
		<setting id="Location1lon" label="32103" type="text" subsetting="true" default=""/>
		<setting id="Location2" label="32112" type="text" enable="!eq(-3,) + !eq(-1,)" default=""/>
		<setting id="Location2id" label="32118" type="text" subsetting="true" enable="!eq(-3,)" default=""/>
		<setting id="Location2lat" label="32104" type="text" subsetting="true" default=""/>
		<setting id="Location2lon" label="32105" type="text" subsetting="true" default=""/>
		<setting id="Location3" label="32113" type="text" enable="!eq(-4,) + !eq(-1,)" default=""/>
		<setting id="Location3id" label="32119" type="text" subsetting="true" enable="!eq(-3,)" default=""/>
		<setting id="Location3lat" label="32106" type="text" subsetting="true" default=""/>
		<setting id="Location3lon" label="32107" type="text" subsetting="true" default=""/>
		<setting id="Location4" label="32127" type="text" enable="!eq(-5,) + !eq(-1,)" default=""/>
		<setting id="Location4id" label="32131" type="text" subsetting="true" enable="!eq(-3,)" default=""/>
		<setting id="Location4lat" label="32108" type="text" subsetting="true" default=""/>
		<setting id="Location4lon" label="32109" type="text" subsetting="true" default=""/>
		<setting id="Location5" label="32128" type="text" enable="!eq(-6,) + !eq(-1,)" default=""/>
		<setting id="Location5id" label="32132" type="text" subsetting="true" enable="!eq(-3,)" default=""/>
		<setting id="Location5lat" label="32110" type="text" subsetting="true" default=""/>
		<setting id="Location5lon" label="32114" type="text" subsetting="true" default=""/>
		<setting type="sep"/>
		<setting id="Debug" label="32120" type="bool" default="false"/>
	</category>
</settings>